.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 30px; 
  margin-top: 20px;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  width: 250px;
  height: 360px;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image-container {
  width: 100%;
  height: 180px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px; 
}

.product-price {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.old-price {
  color: #888;
  margin-right: 8px;
  text-decoration: line-through;
  font-weight: normal;
}

.new-price {
  color: #DB1F6E;
  font-weight: bold;
}

.discount-badge {
  display: inline-block;
  background-color: #DB1F6E;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.price-section {
  margin-top: 5px;
}

.product-stock {
  margin: 5px 0;
}

.product-rank {
  margin: 5px 0;
}

.button-container {
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
}

.product-details-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 80%;
  max-width: 200px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}