.home {
  padding-top: 20px;    
  text-align: center;
}

.tools {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  padding: 10px 20px;
  width: 100%;
}

.right-tools {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.logo {
  width: 150px;
  margin-right: 200px;
  padding-left: 0px;
  cursor: pointer;
}

.search-bar {
  flex-grow: 1;
  max-width: 700px; 
}

.header-login-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.header-login-container:hover {
  color: #545454;
}

.logologin {
  width: 30px;
  
  height: auto;
}

.login-text {
  font-size: 14px;
  font-weight: bold;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
}

.cart-container:hover {
  color: #545454;
}

.cart-logo {
  width: 50px;
  height: auto;
}

.main-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.products-container {
  flex-grow: 1;
  padding: 20px;
  text-align: left;
  margin-top: -25px;
}

.header-management-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: black; 
  padding: 8px 12px;
  border-radius: 6px;
  background-color: transparent; 
  transition: color 0.3s ease, transform 0.2s ease;
}

.header-management-container:hover {
  color: #333; /* Hover’da biraz koyulaşır */
  transform: scale(1.05);
}
