.product-detail-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.productimage-container {
    flex: 1;
    text-align: center;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
.product-image {
    width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.product-info-container {
    flex: 1;
    text-align: left;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.add-to-cart-button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.add-to-cart-button:hover {
    background-color: #333;

    
}

.out-of-stock-button {
    background-color: #f44336; /* Red background */
    color: white;
    border: none;
    padding: 12px 00px;
    font-size: 16px;
    border-radius: 5px;
    cursor: not-allowed;
    
    text-align: center;
    margin-top: 20px;
    min-width: 120px;

}

.out-of-stock-button:disabled {
    background-color: #666; /* Keeps the red color even when disabled */

}
